Repository imua-xyz/imuachain, pull requests merged in 2024-12, with the labels that each got.

#247 fix some typos
  proto/exocore/oracle/v1/params.proto
  x/oracle/keeper/slashing.go
Labels: C:Proto

#256 use buf to format proto files
  .protolint.yml
  Makefile
Labels: Type: Build

#260 update price-feeder to v0.1.12
  go.mod
  go.sum
  proto/evmos/erc20/v1/erc20.proto
  proto/evmos/incentives/v1/incentives.proto
  proto/exocore/appchain/common/v1/common.proto
  proto/exocore/appchain/coordinator/v1/coordinator.proto
  proto/exocore/appchain/coordinator/v1/params.proto
  proto/exocore/appchain/coordinator/v1/query.proto
  proto/exocore/appchain/coordinator/v1/tx.proto
  proto/exocore/appchain/subscriber/v1/query.proto
  proto/exocore/appchain/subscriber/v1/tx.proto
  proto/exocore/assets/v1/genesis.proto
  proto/exocore/assets/v1/tx.proto
  proto/exocore/avs/v1/genesis.proto
  proto/exocore/avs/v1/query.proto
  proto/exocore/avs/v1/tx.proto
  proto/exocore/delegation/v1/genesis.proto
  proto/exocore/delegation/v1/query.proto
  proto/exocore/dogfood/v1/params.proto
  proto/exocore/dogfood/v1/query.proto
  proto/exocore/dogfood/v1/tx.proto
  proto/exocore/epochs/v1/epochs.proto
  proto/exocore/feedistribution/v1/distribution.proto
  proto/exocore/feedistribution/v1/genesis.proto
  proto/exocore/feedistribution/v1/tx.proto
  proto/exocore/operator/v1/genesis.proto
  proto/exocore/operator/v1/query.proto
  proto/exocore/operator/v1/tx.proto
  proto/exocore/operator/v1/validator.proto
  proto/exocore/oracle/v1/genesis.proto
  proto/exocore/oracle/v1/native_token.proto
  proto/exocore/oracle/v1/params.proto
  proto/exocore/oracle/v1/query.proto
  x/avs/types/genesis_test.go
  x/oracle/keeper/msg_server_update_params_test.go
Labels: C:Proto

#259 fix: genesis data validation
  app/app.go
  proto/exocore/delegation/v1/query.proto
  x/assets/keeper/genesis.go
  x/assets/keeper/keeper.go
  x/assets/types/expected_keepers.go
  x/assets/types/genesis.go
  x/delegation/client/cli/query.go
  x/delegation/keeper/delegation_state.go
  x/delegation/keeper/grpc_query.go
  x/delegation/types/query.pb.go
  x/delegation/types/query.pb.gw.go
  x/dogfood/types/params.go
  x/operator/types/genesis.go
Labels: C:Proto, C:CLI

#267 fix(avs): query avs address by url
  proto/exocore/avs/v1/query.proto
  x/avs/client/cli/query.go
  x/avs/keeper/query.go
  x/avs/types/query.pb.go
  x/avs/types/query.pb.gw.go
Labels: C:Proto, C:CLI

#252 feat: multiple gateways as assets params
  local_node.sh
  precompiles/assets/IAssets.sol
  precompiles/assets/abi.json
  precompiles/assets/abi_types.go
  precompiles/assets/assets.go
  precompiles/assets/assets_integrate_test.go
  precompiles/assets/assets_test.go
  precompiles/assets/decode_helper.go
  precompiles/assets/query.go
  precompiles/assets/setup_test.go
  precompiles/assets/tx.go
  precompiles/assets/types.go
  precompiles/common/error.go
  precompiles/delegation/delegation_test.go
  precompiles/delegation/tx.go
  precompiles/reward/methods.go
  precompiles/reward/reward_test.go
  precompiles/slash/methods.go
  precompiles/slash/slash_test.go
  proto/exocore/assets/v1/params.proto
  proto/exocore/delegation/v1/query.proto
  proto/exocore/oracle/v1/genesis.proto
  proto/exocore/oracle/v1/info.proto
  proto/exocore/oracle/v1/price.proto
  proto/exocore/oracle/v1/query.proto
  proto/exocore/oracle/v1/token_feeder.proto
  proto/exocore/oracle/v1/tx.proto
  testutil/keeper/feedistribute.go
  testutil/keeper/oracle.go
  testutil/network/genesis_data.go
  testutil/utils.go
  x/assets/client/cli/tx.go
  x/assets/keeper/expected_keepers.go
  x/assets/keeper/params.go
  x/assets/keeper/params_test.go
  x/assets/keeper/staker_asset.go
  x/assets/types/errors.go
  x/assets/types/general.go
  x/assets/types/genesis_test.go
  x/assets/types/msg.go
  x/assets/types/params.go
  x/assets/types/params.pb.go
  x/feedistribution/keeper/hooks_test.go
  x/oracle/types/genesis.pb.go
  x/oracle/types/query.pb.go
  x/oracle/types/token_feeder.pb.go
  x/oracle/types/tx.pb.go
  x/reward/keeper/claim_reward.go
Labels: C:Proto, C:CLI

#245 test:(tool): A tool for batch sending and checking test transactions.
  Makefile
  cmd/config/config.go
  cmd/exocore-test-tool/README.md
  cmd/exocore-test-tool/main.go
  go.mod
  go.sum
  precompiles/assets/assets_binding.go
  precompiles/avs/avs_binding.go
  precompiles/delegation/delegation_binding.go
  testutil/batch/batch_tx.go
  testutil/batch/manager.go
  testutil/batch/manager_test.go
  testutil/batch/prepare.go
  testutil/batch/send_txs.go
  testutil/batch/tx_check.go
  testutil/batch/type.go
  testutil/batch/utils.go
  utils/utils.go
  x/operator/keeper/opt.go
Labels: Type: Build
