Repository imua-xyz/imuachain, pull requests merged in 2024-07, with the labels that each got.

#109 [feat] Implement epoch and unbinding for AVS
  app/app.go
  go.mod
  go.sum
  precompiles/avs/abi.json
  precompiles/avs/avs.sol
  precompiles/avs/avs_test.go
  precompiles/avs/types.go
  precompiles/avsTask/task_test.go
  proto/exocore/avs/tx.proto
  x/avs/keeper/avs.go
  x/avs/keeper/avs_test.go
  x/avs/keeper/keeper.go
  x/avs/keeper/params.go
  x/avs/keeper/setup_test.go
  x/avs/types/errors.go
  x/avs/types/expected_keepers.go
  x/avs/types/tx.pb.go
Labels: C:Proto

#123 fix goreleaser workflow file
  .github/workflows/ante-benchmark.yml
  .github/workflows/build.yml
  .github/workflows/consensuswarn.yml
  .github/workflows/dependencies.yml
  .github/workflows/goreleaser.yml
  .github/workflows/lint.yml
  .golangci.yml
  Dockerfile
  Makefile
  networks/local/exocore/Dockerfile
Labels: Type: Build, Type: CI

#102 feat(epochs): backport the module from SDK
  .github/workflows/proto.yml
  .github/workflows/super-linter.yml
  .semgrepignore
  SAFU.pdf
  app/app.go
  go.mod
  go.sum
  local_node.sh
  precompiles/avs/avs_test.go
  precompiles/avsTask/task_test.go
  proto/evmos/epochs/v1/genesis.proto
  proto/exocore/epochs/v1/genesis.proto
  proto/exocore/epochs/v1/query.proto
  testutil/utils.go
  x/avs/keeper/avs_test.go
  x/avs/types/expected_keepers.go
  x/dogfood/keeper/impl_epochs_hooks.go
  x/dogfood/keeper/keeper.go
  x/dogfood/types/expected_keepers.go
  x/dogfood/types/params.go
  x/epochs/README.md
  x/epochs/client/cli/query.go
  x/epochs/keeper/abci.go
  x/epochs/keeper/abci_test.go
  x/epochs/keeper/epoch_infos.go
  x/epochs/keeper/epoch_infos_test.go
  x/epochs/keeper/genesis.go
  x/epochs/keeper/grpc_query.go
  x/epochs/keeper/grpc_query_test.go
  x/epochs/keeper/keeper.go
  x/epochs/keeper/setup_test.go
  x/epochs/keeper/utils_test.go
  x/epochs/module.go
  x/epochs/simulation/genesis.go
  x/epochs/types/codec.go
  x/epochs/types/errors.go
  x/epochs/types/events.go
  x/epochs/types/genesis.go
  x/epochs/types/genesis.pb.go
  x/epochs/types/genesis_test.go
  x/epochs/types/hooks.go
  x/epochs/types/identifier.go
  x/epochs/types/keys.go
  x/epochs/types/query.pb.go
  x/epochs/types/query.pb.gw.go
Labels: C:Proto, C:CLI, Type: CI

#83 feat(oracle): update params
  x/oracle/client/cli/tx.go
  x/oracle/client/cli/tx_create_price.go
  x/oracle/client/cli/tx_update_params.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/msg_server_update_params.go
  x/oracle/keeper/msg_server_update_params_test.go
  x/oracle/keeper/params_test.go
  x/oracle/types/errors.go
  x/oracle/types/genesis_test.go
  x/oracle/types/message_update_params.go
  x/oracle/types/params.go
Labels: C:CLI

#144 Fix github dependency workflow
  .github/workflows/dependencies.yml
Labels: C:Proto, C:CLI, Type: Build, Type: CI

#151 ref(oracle): move oracle proto definition into oracle/v1
  proto/exocore/oracle/v1/genesis.proto
  proto/exocore/oracle/v1/index_recent_msg.proto
  proto/exocore/oracle/v1/index_recent_params.proto
  proto/exocore/oracle/v1/info.proto
  proto/exocore/oracle/v1/params.proto
  proto/exocore/oracle/v1/price.proto
  proto/exocore/oracle/v1/prices.proto
  proto/exocore/oracle/v1/query.proto
  proto/exocore/oracle/v1/recent_msg.proto
  proto/exocore/oracle/v1/recent_params.proto
  proto/exocore/oracle/v1/token_feeder.proto
  proto/exocore/oracle/v1/tx.proto
  proto/exocore/oracle/v1/validator_update_block.proto
  x/oracle/types/genesis.pb.go
  x/oracle/types/index_recent_msg.pb.go
  x/oracle/types/index_recent_params.pb.go
  x/oracle/types/info.pb.go
  x/oracle/types/params.pb.go
  x/oracle/types/price.pb.go
  x/oracle/types/prices.pb.go
  x/oracle/types/query.pb.go
  x/oracle/types/query.pb.gw.go
  x/oracle/types/recent_msg.pb.go
  x/oracle/types/recent_params.pb.go
  x/oracle/types/token_feeder.pb.go
  x/oracle/types/tx.pb.go
  x/oracle/types/validator_update_block.pb.go
Labels: C:Proto

#129 feat(unjail) Implement the dependency for unjail
  precompiles/avs/tx.go
  precompiles/avs/types.go
  precompiles/delegation/delegation.go
  precompiles/delegation/tx.go
  proto/exocore/operator/v1/query.proto
  proto/exocore/operator/v1/tx.proto
  x/dogfood/keeper/impl_sdk.go
  x/dogfood/types/expected_keepers.go
  x/operator/keeper/abci.go
  x/operator/keeper/consensus_keys.go
  x/operator/keeper/grpc_query.go
  x/operator/keeper/opt.go
  x/operator/keeper/opt_test.go
  x/operator/keeper/slash.go
  x/operator/keeper/slash_test.go
  x/operator/keeper/usd_value.go
  x/operator/keeper/usd_value_test.go
  x/operator/types/general.go
  x/operator/types/keys.go
  x/operator/types/query.pb.go
  x/operator/types/tx.pb.go
Labels: C:Proto
