Repository imua-xyz/imuachain, pull requests merged in 2024-04, with the labels that each got.

#22 fix(app): remove unused modules
  app/app.go
  app/export.go
  go.mod
  go.sum
  precompiles/delegation/delegation_test.go
  precompiles/deposit/deposit_test.go
  scripts/protocgen.sh
  testutil/staking-rewards.go
  x/dogfood/keeper/impl_sdk.go
  x/evm/keeper/precompiles.go
  x/evm/types/params.go
  x/reward/keeper/claim_reward.go
  x/reward/types/errors.go
Labels: Type: Build

#27 feat(operator): load genesis state
  .github/workflows/test.yml
  proto/exocore/operator/v1/genesis.proto
  x/operator/keeper/consensus_keys.go
  x/operator/keeper/genesis.go
  x/operator/keeper/grpc_query.go
  x/operator/keeper/msg_server.go
  x/operator/keeper/operator.go
  x/operator/module.go
  x/operator/types/consensus_keys.go
  x/operator/types/errors.go
  x/operator/types/expected_keepers.go
  x/operator/types/genesis.go
  x/operator/types/genesis.pb.go
  x/operator/types/genesis_test.go
  x/operator/types/hooks.go
  x/operator/types/utils.go
Labels: C:Proto, Type: CI

#26 feat(delegation): load genesis state
  precompiles/delegation/delegation_test.go
  precompiles/delegation/types.go
  proto/exocore/delegation/v1/genesis.proto
  proto/exocore/delegation/v1/tx.proto
  x/delegation/keeper/cross_chain_tx_process.go
  x/delegation/keeper/delegation_op_test.go
  x/delegation/keeper/genesis.go
  x/delegation/module.go
  x/delegation/types/cross_chain_params.go
  x/delegation/types/errors.go
  x/delegation/types/genesis.go
  x/delegation/types/genesis.pb.go
  x/delegation/types/genesis_test.go
  x/delegation/types/tx.pb.go
  x/operator/keeper/state_update_test.go
Labels: C:Proto

#21 [feat] implement the operator interfaces expected by dogfood
  Makefile
  proto/exocore/operator/v1/tx.proto
  x/dogfood/keeper/abci.go
  x/dogfood/keeper/impl_sdk.go
  x/dogfood/types/expected_keepers.go
  x/operator/keeper/avs_operator_shares.go
  x/operator/keeper/consensus_keys.go
  x/operator/keeper/msg_server.go
  x/operator/keeper/operator.go
  x/operator/keeper/operator_info_test.go
  x/operator/keeper/opt.go
  x/operator/keeper/slash.go
  x/operator/types/errors.go
  x/operator/types/expected_keepers.go
  x/operator/types/tx.pb.go
Labels: C:Proto, Type: Build

#28 feat(dogfood): load genesis state
  .github/codeql/codeql-config.yml
  .github/workflows/codeql-analysis.yml
  proto/exocore/dogfood/v1/dogfood.proto
  proto/exocore/dogfood/v1/genesis.proto
  x/delegation/types/expected_keepers.go
  x/delegation/types/hooks.go
  x/dogfood/keeper/abci.go
  x/dogfood/keeper/genesis.go
  x/dogfood/keeper/impl_delegation_hooks.go
  x/dogfood/keeper/impl_epochs_hooks.go
  x/dogfood/keeper/impl_operator_hooks.go
  x/dogfood/keeper/impl_sdk.go
  x/dogfood/keeper/unbonding.go
  x/dogfood/keeper/validators.go
  x/dogfood/types/dogfood.pb.go
  x/dogfood/types/errors.go
  x/dogfood/types/expected_keepers.go
  x/dogfood/types/genesis.go
  x/dogfood/types/genesis.pb.go
  x/dogfood/types/genesis_test.go
  x/dogfood/types/params.go
  x/dogfood/types/utils.go
  x/operator/keeper/consensus_keys.go
  x/operator/keeper/keeper.go
  x/operator/types/expected_keepers.go
  x/operator/types/hooks.go
Labels: C:Proto, Type: CI

#29 refactor(dogfood): prepare for `app` addition
  proto/exocore/dogfood/v1/dogfood.proto
  x/dogfood/keeper/abci.go
  x/dogfood/keeper/genesis.go
  x/dogfood/keeper/impl_evm.go
  x/dogfood/keeper/impl_sdk.go
  x/dogfood/keeper/validators.go
  x/dogfood/module.go
  x/dogfood/types/dogfood.pb.go
  x/dogfood/types/expected_keepers.go
  x/dogfood/types/hooks.go
  x/dogfood/types/keys.go
  x/operator/keeper/consensus_keys.go
Labels: C:Proto

#32 feat: add task manager
  app/app.go
  go.mod
  go.sum
  precompiles/avsTask/abi.json
  precompiles/avsTask/avsTask.sol
  precompiles/avsTask/error.go
  precompiles/avsTask/events.go
  precompiles/avsTask/methods.go
  precompiles/avsTask/parser.go
  precompiles/avsTask/setup_test.go
  precompiles/avsTask/task.go
  precompiles/avsTask/task_test.go
  precompiles/bls/IBLS.sol
  precompiles/bls/abi.json
  precompiles/bls/bls.go
  precompiles/bls/bls_test.go
  precompiles/bls/error.go
  precompiles/bls/methods.go
  precompiles/bls/setup_test.go
  proto/exocore/avstask/v1/query.proto
  proto/exocore/avstask/v1/tx.proto
  x/avstask/client/cli/query.go
  x/avstask/client/cli/tx.go
  x/avstask/keeper/keeper.go
  x/avstask/keeper/msg_server.go
  x/avstask/keeper/query.go
  x/avstask/keeper/setup_test.go
  x/avstask/keeper/task.go
  x/avstask/keeper/task_test.go
  x/avstask/module.go
  x/avstask/types/codec.go
  x/avstask/types/errors.go
  x/avstask/types/keys.go
  x/avstask/types/msg.go
  x/avstask/types/query.pb.go
  x/avstask/types/query.pb.gw.go
  x/avstask/types/tx.pb.go
  x/evm/keeper/precompiles.go
  x/evm/types/params.go
Labels: C:Proto, C:CLI

#34 fix(ci): run build on branches
  .github/workflows/ante-benchmark.yml
  .github/workflows/build.yml
  .github/workflows/dependencies.yml
  .github/workflows/semgrep.yml
  .github/workflows/solidity-test.yml
Labels: Type: CI

#35 feat(precompile): add `getClientChains` function
  .github/workflows/consensuswarn.yml
  precompiles/clientchains/abi.json
  precompiles/clientchains/clientchains.go
  precompiles/clientchains/clientchains.sol
  precompiles/clientchains/clientchains_test.go
  precompiles/clientchains/setup_test.go
  precompiles/clientchains/tx.go
  x/assets/types/errors.go
  x/evm/keeper/precompiles.go
  x/evm/types/params.go
Labels: Type: CI

#37 fix(docker): fix bugs for initialize clusters of nodes
  Dockerfile
  networks/local/exocore/Dockerfile
Labels: Type: Build

#40 fix(docker-compose): fix bugs about docker-compose not starting cluster
  Makefile
  docker-compose.yml
  go.mod
  networks/local/exocore/wrapper.sh
Labels: Type: Build

#41 fix: change keyring, feat: consistent local key
  Makefile
  local_node.sh
Labels: Type: Build

#42 feat(app): replace staking with dogfood
  app/ante/cosmos/fees.go
  app/ante/cosmos/vesting.go
  app/ante/evm/fee_checker.go
  app/ante/evm/vesting.go
  app/ante/evm/vesting_test.go
  app/ante/handler_options.go
  app/app.go
  app/ethtest_helper.go
  app/export.go
  app/test_helpers.go
  client/export.go
  client/keys.go
  client/testnet.go
  cmd/exocored/root.go
  cmd/exocored/testnet.go
  local_node.sh
  networks/init-node.sh
  precompiles/testutil/staking.go
  testutil/network/util.go
  testutil/utils.go
  x/assets/types/genesis.go
  x/avs/keeper/keeper.go
  x/delegation/keeper/delegation_state.go
  x/delegation/keeper/un_delegation_state.go
  x/deposit/keeper/deposit_test.go
  x/dogfood/keeper/abci.go
  x/dogfood/keeper/genesis.go
  x/dogfood/keeper/impl_sdk.go
  x/dogfood/keeper/keeper.go
  x/dogfood/keeper/validators.go
  x/dogfood/module.go
  x/dogfood/types/expected_keepers.go
  x/dogfood/types/keys.go
  x/dogfood/types/params.go
  x/dogfood/types/utils.go
  x/evm/keeper/precompiles.go
  x/evm/types/params.go
  x/operator/keeper/avs_operator_shares.go
  x/operator/keeper/consensus_keys.go
  x/operator/keeper/keeper.go
  x/operator/keeper/operator.go
  x/operator/keeper/operator_info_test.go
  x/operator/keeper/opt.go
  x/operator/keeper/slash.go
  x/operator/types/genesis.go
  x/oracle/keeper/common/expected_keepers.go
  x/oracle/keeper/keeper_suite_test.go
  x/oracle/keeper/msg_server_test.go
  x/reward/keeper/claim_reward_test.go
  x/reward/keeper/keeper.go
  x/slash/keeper/execute_slash_test.go
  x/withdraw/keeper/claim_withdraw_test.go
  x/withdraw/keeper/keeper.go
Labels: C:CLI
