Repository imua-xyz/imuachain, pull requests merged in 2024-10, with the labels that each got.

#194 fix(audit): Fix issues from audit
  Dockerfile
  networks/local/exocore/Dockerfile
  precompiles/avs/avs_test.go
  x/avs/keeper/avs_test.go
  x/avs/keeper/setup_test.go
  x/avs/keeper/submit_task_test.go
  x/dogfood/keeper/impl_sdk.go
  x/dogfood/keeper/opt_out_test.go
  x/evm/keeper/precompiles.go
  x/evm/types/params.go
  x/feedistribution/keeper/hooks_test.go
  x/operator/keeper/consensus_keys.go
  x/operator/keeper/opt.go
  x/operator/keeper/slash_test.go
  x/operator/keeper/usd_value.go
  x/operator/types/errors.go
  x/slash/keeper/execute_slash.go
  x/slash/keeper/execute_slash_test.go
Labels: Type: Build

#192 fix(audit): resolve some findings
  app/ante/sigverify.go
  app/app.go
  precompiles/assets/IAssets.sol
  precompiles/assets/tx.go
  precompiles/bls/methods.go
  proto/exocore/oracle/v1/params.proto
  x/assets/keeper/bank.go
  x/assets/keeper/client_chain_asset.go
  x/assets/types/errors.go
  x/assets/types/general.go
  x/avs/keeper/avs.go
  x/avs/types/keys.go
  x/delegation/keeper/abci.go
  x/delegation/keeper/delegation.go
  x/delegation/keeper/delegation_state.go
  x/delegation/keeper/msg_server.go
  x/delegation/keeper/un_delegation_state.go
  x/delegation/types/errors.go
  x/delegation/types/msg.go
  x/dogfood/keeper/keeper.go
  x/dogfood/types/genesis.go
  x/evm/keeper/state_transition.go
  x/operator/keeper/operator.go
  x/operator/keeper/usd_value.go
  x/operator/types/errors.go
  x/oracle/keeper/aggregator/aggregator.go
  x/oracle/keeper/aggregator/context.go
  x/oracle/keeper/aggregator/info_test.go
  x/oracle/keeper/common/types.go
  x/oracle/keeper/msg_server_create_price.go
  x/oracle/keeper/validator_update_block.go
  x/oracle/types/genesis_test.go
  x/oracle/types/keys.go
  x/oracle/types/params.go
  x/oracle/types/params.pb.go
  x/reward/keeper/claim_reward.go
  x/reward/keeper/claim_reward_test.go
  x/reward/types/errors.go
Labels: C:Proto

#208 add rest api to query token-index, update price-feeder to panic at er…
  cmd/exocored/root.go
  go.mod
  go.sum
  proto/exocore/oracle/v1/query.proto
  x/oracle/client/cli/query.go
  x/oracle/client/cli/query_tokens.go
  x/oracle/keeper/query_tokens.go
  x/oracle/keeper/tokens.go
  x/oracle/types/query.pb.go
  x/oracle/types/query.pb.gw.go
Labels: C:Proto, C:CLI

#216 feat(operator): Add cli to query opt info
  local_node.sh
  proto/exocore/operator/v1/query.proto
  x/operator/client/cli/query.go
  x/operator/keeper/grpc_query.go
  x/operator/types/query.pb.go
  x/operator/types/query.pb.gw.go
Labels: C:Proto, C:CLI

#228 fix cli for stakerlist need 1 arg
  x/oracle/client/cli/query_native_token.go
Labels: C:CLI
