Repository imua-xyz/imuachain, pull requests merged in 2024-08, with the labels that each got.

#155 v4: testnet changes
  proto/exocore/assets/v1/tx.proto
  x/assets/client/cli/tx.go
  x/assets/keeper/msg_server.go
  x/assets/types/general.go
  x/assets/types/tx.pb.go
  x/assets/types/tx.pb.gw.go
  x/dogfood/keeper/msg_server.go
  x/exomint/keeper/msg_server.go
  x/exomint/keeper/msg_server_test.go
  x/operator/keeper/usd_value_test.go
Labels: C:Proto, C:CLI

#154 fix(ci): always run Docker build CIs
  .github/workflows/docker-localnet.yml
  .github/workflows/docker.yml
  Dockerfile
  networks/local/exocore/Dockerfile
Labels: Type: Build, Type: CI

#158 fix(ci): do not dry run the release on tags
  .github/workflows/goreleaser.yml
Labels: Type: CI

#156 chore: Add a precompile query test and fix avs cli
  precompiles/avs/events.go
  precompiles/avs/query.go
  precompiles/avs/query_test.go
  precompiles/avs/tx.go
  x/avs/client/cli/query.go
  x/avs/keeper/keeper.go
  x/avs/types/expected_keepers.go
Labels: C:CLI

#153 feat(operator) Add a function to calculate the usd value for staker
  proto/exocore/delegation/v1/query.proto
  x/assets/types/keys.go
  x/assets/types/tx.pb.gw.go
  x/avs/keeper/task_test.go
  x/avs/types/query.pb.gw.go
  x/avs/types/tx.pb.gw.go
  x/delegation/keeper/delegation.go
  x/delegation/keeper/delegation_state.go
  x/delegation/keeper/grpc_query.go
  x/delegation/keeper/share.go
  x/delegation/types/errors.go
  x/delegation/types/keys.go
  x/delegation/types/query.pb.go
  x/operator/keeper/abci.go
  x/operator/keeper/consensus_keys.go
  x/operator/keeper/opt_test.go
  x/operator/keeper/usd_value.go
  x/operator/types/errors.go
  x/operator/types/expected_keepers.go
  x/operator/types/query.pb.gw.go
  x/operator/types/tx.pb.gw.go
Labels: C:Proto

#171 fix(lint): ignore the gosec G115 temporarily
  app/ante/cosmos/fees.go
  app/ante/evm/fee_checker.go
  app/tps_counter.go
  precompiles/assets/types.go
  precompiles/delegation/types.go
  precompiles/reward/parser.go
  precompiles/slash/parser.go
  testutil/nullify/nullify.go
  testutil/tx/cosmos.go
  types/int.go
  x/assets/keeper/client_chain.go
  x/avs/keeper/avs.go
  x/avs/keeper/keeper.go
  x/dogfood/keeper/opt_out.go
  x/dogfood/types/keys.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/msg_server.go
  x/evm/keeper/state_transition.go
  x/operator/keeper/common_func.go
  x/oracle/client/cli/tx_create_price.go
  x/oracle/keeper/aggregator/filter.go
  x/oracle/keeper/prices.go
  x/oracle/keeper/recent_msg.go
  x/oracle/keeper/recent_params.go
  x/oracle/keeper/single.go
Labels: C:CLI, C:Types
