Repository imua-xyz/imuachain, pull requests merged in 2024-06, with the labels that each got.

#80 fix(assets,delegation): case insensitive query
  proto/exocore/assets/v1/query.proto
  x/assets/client/cli/query.go
  x/assets/keeper/grpc_query.go
  x/assets/types/genesis.go
  x/assets/types/keys.go
  x/assets/types/query.pb.go
  x/assets/types/query.pb.gw.go
  x/delegation/client/cli/query.go
  x/delegation/types/genesis.go
Labels: C:Proto, C:CLI

#98 fix(app): reorder the EndBlockers
  .github/workflows/ante-benchmark.yml
  .github/workflows/build.yml
  .github/workflows/dependencies.yml
  .github/workflows/docker-localnet.yml
  .github/workflows/docker.yml
  .github/workflows/goreleaser.yml
  .github/workflows/lint.yml
  .github/workflows/proto-comment.yml
  .github/workflows/test-comment.yml
  .golangci.yml
  Dockerfile
  Makefile
  app/app.go
  go.mod
  networks/local/exocore/Dockerfile
Labels: Type: Build, Type: CI

#103 fix(ci): specify go version in consensuswarn
  .github/workflows/consensuswarn.yml
Labels: Type: CI

#95 feat(dogfood): implement `ExportGenesis`
  app/app.go
  app/ethtest_helper.go
  app/export.go
  app/test_helpers.go
  cmd/exocored/testnet.go
  go.mod
  local_node.sh
  proto/exocore/dogfood/v1/genesis.proto
  proto/exocore/operator/v1/query.proto
  proto/exocore/operator/v1/tx.proto
  testutil/utils.go
  x/delegation/keeper/genesis.go
  x/delegation/types/keys.go
  x/dogfood/keeper/genesis.go
  x/dogfood/keeper/impl_sdk.go
  x/dogfood/keeper/opt_out.go
  x/dogfood/keeper/query.go
  x/dogfood/keeper/unbonding.go
  x/dogfood/types/genesis.go
  x/dogfood/types/genesis.pb.go
  x/dogfood/types/genesis_test.go
  x/dogfood/types/keys.go
  x/operator/client/cli/tx.go
  x/operator/keeper/consensus_keys.go
  x/operator/keeper/grpc_query.go
  x/operator/keeper/msg_server.go
  x/operator/keeper/operator.go
  x/operator/keeper/opt.go
  x/operator/types/codec.go
  x/operator/types/consensus_keys.go
  x/operator/types/msg.go
  x/operator/types/query.pb.go
  x/operator/types/tx.pb.go
Labels: C:Proto, C:CLI

#61 [feat] add the new slash implementation and some missed RPC and CLI
  precompiles/avsTask/task_test.go
  proto/exocore/delegation/v1/query.proto
  proto/exocore/operator/v1/query.proto
  proto/exocore/operator/v1/tx.proto
  x/assets/keeper/operator_asset.go
  x/assets/types/codec.go
  x/assets/types/keys.go
  x/avs/keeper/avs_test.go
  x/avstask/types/codec.go
  x/delegation/client/cli/query.go
  x/delegation/keeper/abci.go
  x/delegation/keeper/delegation_op_test.go
  x/delegation/keeper/grpc_query.go
  x/delegation/keeper/un_delegation_state.go
  x/delegation/types/codec.go
  x/delegation/types/keys.go
  x/delegation/types/query.pb.go
  x/delegation/types/query.pb.gw.go
  x/deposit/types/codec.go
  x/deposit/types/query.pb.gw.go
  x/operator/client/cli/query.go
  x/operator/keeper/abci.go
  x/operator/keeper/grpc_query.go
  x/operator/keeper/keeper.go
  x/operator/keeper/operator_slash_state.go
  x/operator/keeper/opt.go
  x/operator/keeper/opt_test.go
  x/operator/keeper/slash.go
  x/operator/keeper/slash_test.go
  x/operator/keeper/usd_value.go
  x/operator/module.go
  x/operator/types/codec.go
  x/operator/types/errors.go
  x/operator/types/expected_keepers.go
  x/operator/types/general.go
  x/operator/types/query.pb.go
  x/operator/types/query.pb.gw.go
  x/operator/types/tx.pb.go
  x/oracle/types/params.pb.go
  x/reward/types/codec.go
  x/reward/types/query.pb.gw.go
  x/slash/types/codec.go
  x/slash/types/query.pb.gw.go
Labels: C:Proto, C:CLI

#112 fix(ci): upgrade deprecated goreleaser
  .github/workflows/goreleaser.yml
  .goreleaser.yml
  Makefile
Labels: Type: Build, Type: CI
