Repository imua-xyz/imuachain, pull requests merged in 2024-11, with the labels that each got.

#209 feat(genesis export): genesis exporting for avs,distribution modules
  precompiles/avs/tx.go
  proto/exocore/avs/v1/genesis.proto
  proto/exocore/feedistribution/v1/genesis.proto
  x/avs/client/cli/query.go
  x/avs/keeper/avs.go
  x/avs/keeper/genesis.go
  x/avs/keeper/keeper.go
  x/avs/keeper/msg_server.go
  x/avs/keeper/multi_operator_submit_task_test.go
  x/avs/keeper/submit_task_test.go
  x/avs/keeper/task.go
  x/avs/module.go
  x/avs/types/genesis.go
  x/avs/types/genesis.pb.go
  x/avs/types/genesis_test.go
  x/feedistribution/keeper/genesis.go
  x/feedistribution/keeper/genesis_test.go
  x/feedistribution/keeper/keeper.go
  x/feedistribution/types/genesis.go
  x/feedistribution/types/genesis.pb.go
  x/feedistribution/types/genesis_test.go
  x/feedistribution/types/params.go
  x/operator/keeper/operator.go
Labels: C:Proto, C:CLI

#235 feat(Validator endpoints): Implement exocore validator endpoints
  go.mod
  go.sum
  proto/exocore/operator/v1/genesis.proto
  proto/exocore/operator/v1/query.proto
  proto/exocore/operator/v1/tx.proto
  proto/exocore/operator/v1/validator.proto
  x/feedistribution/types/genesis.pb.go
  x/operator/keeper/consensus_keys.go
  x/operator/keeper/grpc_query.go
  x/operator/types/query.pb.go
  x/operator/types/query.pb.gw.go
  x/operator/types/validator.go
  x/operator/types/validator.pb.go
Labels: C:Proto

#238 fix(app): Fix the issue of the unbonding duration not taking effect in Dogfood.
  app/app.go
Labels: bug

#224 introduce slashing for oracle service
  app/app.go
  proto/exocore/oracle/v1/genesis.proto
  proto/exocore/oracle/v1/params.proto
  proto/exocore/oracle/v1/slashing.proto
  testutil/keeper/oracle.go
  x/delegation/keeper/abci.go
  x/delegation/keeper/delegation_state.go
  x/operator/keeper/slash.go
  x/operator/keeper/usd_value.go
  x/oracle/genesis.go
  x/oracle/keeper/aggregator/aggregator.go
  x/oracle/keeper/aggregator/calculator.go
  x/oracle/keeper/aggregator/context.go
  x/oracle/keeper/aggregator/worker.go
  x/oracle/keeper/common/expected_keepers.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/msg_server_create_price.go
  x/oracle/keeper/slashing.go
  x/oracle/module.go
  x/oracle/types/events.go
  x/oracle/types/expected_keepers.go
  x/oracle/types/genesis.go
  x/oracle/types/genesis.pb.go
  x/oracle/types/genesis_test.go
  x/oracle/types/key_slashing.go
  x/oracle/types/params.go
  x/oracle/types/params.pb.go
  x/oracle/types/slashing.pb.go
  x/oracle/types/types.go
Labels: C:Proto

#233 e2e test network
  .github/workflows/e2e-test-release.yml
  .github/workflows/e2e-test.yml
  app/ante/cosmos/sigverify.go
  crypto/algo_ed25519.go
  go.mod
  precompiles/assets/assets_test.go
  tests/e2e/bank/bank_test.go
  tests/e2e/bank/query.go
  tests/e2e/bank/suite.go
  tests/e2e/bank/test.result
  tests/e2e/bank/tx.go
  tests/e2e/basesuite.go
  tests/e2e/oracle/create_price.go
  tests/e2e/oracle/data.go
  tests/e2e/oracle/helper_nstconvert.go
  tests/e2e/oracle/oracle_test.go
  tests/e2e/oracle/suite.go
  tests/e2e/util.go
  testutil/network/genesis_data.go
  testutil/network/network.go
  testutil/network/network_test.go
  testutil/network/query.go
  testutil/network/tx.go
  testutil/network/tx_internal.go
  testutil/network/tx_precompile.go
  testutil/network/util.go
  x/delegation/keeper/update_native_restaking_balance.go
  x/oracle/keeper/aggregator/aggregator.go
  x/oracle/keeper/aggregator/aggregator_test.go
  x/oracle/keeper/aggregator/calculator.go
  x/oracle/keeper/aggregator/calculator_test.go
  x/oracle/keeper/aggregator/context.go
  x/oracle/keeper/aggregator/worker.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/keeper_suite_test.go
  x/oracle/keeper/msg_server_create_price.go
  x/oracle/keeper/msg_server_create_price_test.go
  x/oracle/keeper/msg_server_update_params.go
  x/oracle/keeper/msg_server_update_params_test.go
  x/oracle/keeper/native_token.go
  x/oracle/keeper/nonce.go
  x/oracle/keeper/params.go
  x/oracle/keeper/prices.go
  x/oracle/keeper/single.go
  x/oracle/module.go
  x/oracle/types/types.go
Labels: Type: CI, Type: Tests
