Repository imua-xyz/imuachain, pull requests merged in 2024-05, with the labels that each got.

#49 fix(delegation): bring back determinism
  .github/workflows/ante-benchmark.yml
  .github/workflows/build.yml
  .github/workflows/dependencies.yml
  .github/workflows/goreleaser.yml
  .github/workflows/lint.yml
  .golangci.yml
  Dockerfile
  Makefile
  go.mod
  go.sum
  networks/local/exocore/Dockerfile
  proto/exocore/delegation/v1/query.proto
  x/delegation/keeper/delegation_state.go
  x/delegation/keeper/share_test.go
  x/delegation/types/keys.go
  x/delegation/types/query.pb.go
  x/delegation/types/query.pb.gw.go
  x/operator/keeper/slash.go
  x/operator/types/expected_keepers.go
Labels: C:Proto, Type: Build, Type: CI

#53 fix(cli,oracle): export + vote power
  .golangci.yml
  app/export.go
  cmd/exocored/root.go
  go.mod
  go.sum
  x/dogfood/keeper/impl_sdk.go
  x/oracle/keeper/msg_server_create_price_test.go
  x/oracle/keeper/single.go
Labels: Type: CI

#75 oracle:add fields for params
  proto/exocore/oracle/info.proto
  proto/exocore/oracle/params.proto
  x/oracle/keeper/aggregator/calculator.go
  x/oracle/keeper/aggregator/context.go
  x/oracle/keeper/aggregator/context_test.go
  x/oracle/keeper/aggregator/info_test.go
  x/oracle/keeper/aggregator/worker.go
  x/oracle/keeper/cache/caches.go
  x/oracle/keeper/common/types.go
  x/oracle/keeper/single.go
  x/oracle/types/info.pb.go
  x/oracle/types/params.go
  x/oracle/types/params.pb.go
Labels: C:Proto

#64 fix:add missing fields
  precompiles/avs/abi.json
  precompiles/avs/avs.go
  precompiles/avs/avs.sol
  precompiles/avs/avs_test.go
  precompiles/avs/tx.go
  precompiles/avs/types.go
  precompiles/avsTask/task.go
  precompiles/avsTask/task_test.go
  proto/exocore/avs/tx.proto
  utils/utils.go
  x/avs/client/cli/tx.go
  x/avs/keeper/avs.go
  x/avs/keeper/avs_test.go
  x/avs/keeper/keeper.go
  x/avs/keeper/params.go
  x/avs/types/errors.go
  x/avs/types/query.pb.go
  x/avs/types/query.pb.gw.go
  x/avs/types/tx.pb.go
  x/avs/types/types.go
Labels: C:Proto, C:CLI
