Repository imua-xyz/imuachain, pull requests merged in 2024-09, with the labels that each got.

#160 update oracle create-price tx nonce check and gas consumption
  app/ante/cosmos/context.go
  app/ante/cosmos/fees.go
  app/ante/cosmos/min_price.go
  app/ante/cosmos/sigverify.go
  app/ante/cosmos/txsize_gas.go
  app/ante/evm/fee_market.go
  app/ante/handler_options.go
  app/ante/utils/interfaces.go
  app/ante/utils/oracle.go
  app/app.go
  proto/exocore/oracle/v1/nonce.proto
  x/oracle/keeper/aggregator/context.go
  x/oracle/keeper/aggregator/context_test.go
  x/oracle/keeper/common/expected_keepers.go
  x/oracle/keeper/msg_server_create_price.go
  x/oracle/keeper/nonce.go
  x/oracle/keeper/single.go
  x/oracle/module.go
  x/oracle/types/key_nonce.go
  x/oracle/types/nonce.pb.go
Labels: C:Proto

#178 fix(ci): pin the golang lint version
  .github/workflows/lint.yml
Labels: Type: CI

#169 fix(dogfood): fix the issue #164 regarding the voting power not update
  app/ante/cosmos/txsize_gas.go
  precompiles/avs/avs_test.go
  precompiles/avs/query_test.go
  precompiles/avs/setup_test.go
  precompiles/avs/tx.go
  precompiles/avs/utils_test.go
  precompiles/delegation/tx.go
  precompiles/testutil/logs.go
  x/avs/keeper/avs.go
  x/avs/keeper/avs_test.go
  x/avs/keeper/keeper.go
  x/dogfood/client/cli/tx.go
  x/dogfood/keeper/impl_epochs_hooks_test.go
  x/dogfood/keeper/msg_server.go
  x/dogfood/types/errors.go
  x/dogfood/types/expected_keepers.go
  x/operator/keeper/opt_test.go
Labels: C:CLI

#181 feat(assets): remove total supply
  app/app.go
  app/ethtest_helper.go
  app/test_helpers.go
  cmd/exocored/testnet.go
  precompiles/assets/IAssets.sol
  precompiles/assets/abi.json
  precompiles/assets/tx.go
  precompiles/assets/types.go
  precompiles/avs/query_test.go
  proto/exocore/assets/v1/tx.proto
  testutil/utils.go
  x/assets/keeper/bank.go
  x/assets/keeper/client_chain_and_asset_test.go
  x/assets/keeper/client_chain_asset.go
  x/assets/types/general.go
  x/assets/types/genesis.go
  x/assets/types/genesis_test.go
  x/assets/types/tx.pb.go
  x/operator/keeper/usd_value_test.go
Labels: C:Proto

#127 feat:register vesting type, add support for delegation/undelegation of native token
  app/app.go
  proto/exocore/delegation/v1/tx.proto
  testutil/utils.go
  x/assets/client/cli/tx.go
  x/assets/keeper/bank.go
  x/assets/keeper/expected_keepers.go
  x/assets/keeper/keeper.go
  x/assets/keeper/staker_asset.go
  x/assets/keeper/staker_asset_test.go
  x/assets/types/expected_keepers.go
  x/assets/types/general.go
  x/delegation/client/cli/tx.go
  x/delegation/client/cli/tx_delegation_native.go
  x/delegation/keeper/abci.go
  x/delegation/keeper/delegation.go
  x/delegation/keeper/delegation_op_test.go
  x/delegation/keeper/delegation_state.go
  x/delegation/keeper/keeper.go
  x/delegation/keeper/msg_server.go
  x/delegation/keeper/setup_test.go
  x/delegation/keeper/share.go
  x/delegation/types/cross_chain_params.go
  x/delegation/types/errors.go
  x/delegation/types/expected_keepers.go
  x/delegation/types/general.go
  x/delegation/types/msg.go
  x/delegation/types/tx.pb.go
  x/oracle/keeper/prices.go
  x/reward/keeper/claim_reward.go
  x/slash/keeper/execute_slash.go
Labels: enhancement, C:Proto, C:CLI

#193 fix(local,dogfood): -warnings, -unusedData
  app/ethtest_helper.go
  app/test_helpers.go
  local_node.sh
  proto/exocore/dogfood/v1/genesis.proto
  testutil/utils.go
  x/dogfood/keeper/genesis.go
  x/dogfood/types/genesis.go
  x/dogfood/types/genesis.pb.go
  x/dogfood/types/genesis_test.go
Labels: C:Proto

#167 feat(avs):Implement on-chain aggregation signature
  precompiles/assets/types.go
  precompiles/avs/IAVSManager.sol
  precompiles/avs/abi.json
  precompiles/avs/avs.go
  precompiles/avs/avs_test.go
  precompiles/avs/events.go
  precompiles/avs/query.go
  precompiles/avs/query_test.go
  precompiles/avs/tx.go
  precompiles/avs/types.go
  precompiles/avs/utils_test.go
  proto/exocore/avs/v1/query.proto
  proto/exocore/avs/v1/tx.proto
  proto/exocore/operator/v1/query.proto
  x/avs/client/cli/query.go
  x/avs/client/cli/tx.go
  x/avs/keeper/avs.go
  x/avs/keeper/bls_test.go
  x/avs/keeper/epoch_test.go
  x/avs/keeper/impl_epoch_hook.go
  x/avs/keeper/keeper.go
  x/avs/keeper/miscellaneous_test.go
  x/avs/keeper/msg_server.go
  x/avs/keeper/multi_operator_submit_task_test.go
  x/avs/keeper/params.go
  x/avs/keeper/query.go
  x/avs/keeper/setup_test.go
  x/avs/keeper/submit_task_test.go
  x/avs/keeper/task.go
  x/avs/keeper/task_test.go
  x/avs/module.go
  x/avs/simulation/helpers.go
  x/avs/types/codec.go
  x/avs/types/errors.go
  x/avs/types/keys.go
  x/avs/types/msg.go
  x/avs/types/query.pb.go
  x/avs/types/query.pb.gw.go
  x/avs/types/stage.go
  x/avs/types/tx.pb.go
  x/avs/types/tx.pb.gw.go
  x/avs/types/types.go
  x/operator/client/cli/query.go
  x/operator/keeper/grpc_query.go
  x/operator/types/query.pb.go
  x/operator/types/query.pb.gw.go
  x/oracle/keeper/params.go
Labels: C:Proto, C:CLI

#189 feat(oracle): provide balance change of native-restaking asset
  go.mod
  go.sum
  proto/exocore/oracle/v1/native_token.proto
  proto/exocore/oracle/v1/query.proto
  x/assets/types/expected_keepers.go
  x/assets/types/general.go
  x/assets/types/query.pb.gw.go
  x/assets/types/tx.pb.gw.go
  x/avs/types/query.pb.gw.go
  x/avs/types/tx.pb.gw.go
  x/delegation/keeper/abci.go
  x/delegation/types/hooks.go
  x/delegation/types/query.pb.gw.go
  x/dogfood/types/query.pb.gw.go
  x/dogfood/types/tx.pb.gw.go
  x/epochs/types/query.pb.gw.go
  x/exomint/types/query.pb.gw.go
  x/exomint/types/tx.pb.gw.go
  x/feedistribution/types/query.pb.gw.go
  x/feedistribution/types/tx.pb.gw.go
  x/operator/types/query.pb.gw.go
  x/operator/types/tx.pb.gw.go
  x/oracle/client/cli/query.go
  x/oracle/client/cli/query_native_token.go
  x/oracle/keeper/native_token.go
  x/oracle/keeper/native_token_test.go
  x/oracle/keeper/prices.go
  x/oracle/keeper/query_native_token.go
  x/oracle/types/errors.go
  x/oracle/types/events.go
  x/oracle/types/key_native_token.go
  x/oracle/types/keys.go
  x/oracle/types/native_token.go
  x/oracle/types/native_token.pb.go
  x/oracle/types/params.go
  x/oracle/types/query.pb.go
  x/oracle/types/query.pb.gw.go
  x/reward/types/query.pb.gw.go
  x/slash/types/query.pb.gw.go
Labels: enhancement, C:Proto, C:CLI

#195 feat(precompile): Precompile for native restaking
  app/ethtest_helper.go
  app/test_helpers.go
  cmd/exocored/testnet.go
  precompiles/assets/IAssets.sol
  precompiles/assets/abi.json
  precompiles/assets/assets.go
  precompiles/assets/assets_integrate_test.go
  precompiles/assets/assets_test.go
  precompiles/assets/tx.go
  precompiles/assets/types.go
  precompiles/avs/utils_test.go
  precompiles/delegation/IDelegation.sol
  precompiles/delegation/abi.json
  precompiles/delegation/delegation.go
  precompiles/delegation/delegation_test.go
  precompiles/delegation/tx.go
  precompiles/delegation/types.go
  precompiles/reward/methods.go
  precompiles/reward/reward_test.go
  precompiles/slash/slash_test.go
  testutil/utils.go
  x/assets/client/cli/query.go
  x/assets/keeper/bank.go
  x/assets/keeper/client_chain_and_asset_test.go
  x/assets/keeper/client_chain_asset.go
  x/assets/keeper/msg_server.go
  x/assets/keeper/staker_asset.go
  x/assets/types/general.go
  x/assets/types/genesis.go
  x/assets/types/genesis.pb.go
  x/assets/types/genesis_test.go
  x/avs/keeper/multi_operator_submit_task_test.go
  x/avs/keeper/submit_task_test.go
  x/delegation/client/cli/query.go
  x/delegation/keeper/abci.go
  x/delegation/keeper/delegation.go
  x/delegation/keeper/delegation_op_test.go
  x/delegation/keeper/msg_server.go
  x/delegation/keeper/share.go
  x/delegation/keeper/share_test.go
  x/delegation/keeper/update_native_restaking_balance_test.go
  x/delegation/types/genesis_test.go
  x/delegation/types/msg.go
  x/dogfood/keeper/impl_epochs_hooks_test.go
  x/dogfood/keeper/opt_out_test.go
  x/dogfood/keeper/unbonding_test.go
  x/feedistribution/keeper/allocation.go
  x/feedistribution/keeper/hooks_test.go
  x/operator/keeper/opt_test.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/prices.go
  x/reward/keeper/claim_reward.go
  x/reward/keeper/claim_reward_test.go
  x/slash/keeper/execute_slash.go
  x/slash/keeper/execute_slash_test.go
Labels: C:CLI
