Repository imua-xyz/imuachain, pull requests merged in 2025-01, with the labels that each got.

#279 feat(evm): add predeployed contracts
  Dockerfile
  Makefile
  cmd/exocored/init.go
  init.bat
  local_node.sh
  networks/local/exocore/Dockerfile
  scripts/start-docker.sh
  testutil/batch/type.go
  testutil/utils.go
  utils/utils.go
  x/avs/keeper/avs.go
  x/avs/types/expected_keepers.go
  x/evm/genesis.go
  x/evm/keeper/keeper.go
  x/evm/predeploys_test.go
  x/evm/types/predeploys.go
  x/evm/types/predeploys_test.go
Labels: Type: Build

#280 fix(operator):fix operator cli
  Dockerfile
  networks/local/exocore/Dockerfile
  x/operator/client/cli/tx.go
Labels: C:CLI, Type: Build

#278 feat:add active field for validator
  app/app.go
  proto/exocore/operator/v1/validator.proto
  x/dogfood/keeper/validators.go
  x/operator/keeper/consensus_keys.go
  x/operator/keeper/keeper.go
  x/operator/types/expected_keepers.go
  x/operator/types/validator.pb.go
Labels: C:Proto

#270 fix: update swagger script
  Makefile
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.json
  proto/exocore/avs/v1/query.proto
  proto/exocore/dogfood/v1/query.proto
  proto/exocore/epochs/v1/query.proto
  proto/exocore/feedistribution/v1/query.proto
  proto/exocore/oracle/v1/query.proto
  proto/exocore/reward/v1/query.proto
  proto/exocore/slash/v1/query.proto
  scripts/protoc-swagger-gen.sh
  x/avs/types/query.pb.go
  x/avs/types/query.pb.gw.go
  x/epochs/types/query.pb.go
  x/epochs/types/query.pb.gw.go
  x/feedistribution/types/query.pb.go
  x/feedistribution/types/query.pb.gw.go
  x/oracle/types/query.pb.go
  x/oracle/types/query.pb.gw.go
  x/reward/types/query.pb.go
  x/reward/types/query.pb.gw.go
  x/slash/types/query.pb.go
  x/slash/types/query.pb.gw.go
Labels: C:Proto, C:CLI, Type: Build

#282 fix(epochs): block `null` epoch
  Dockerfile
  x/epochs/types/genesis.go
  x/epochs/types/genesis_test.go
  x/epochs/types/identifier.go
  x/epochs/types/identifier_test.go
Labels: Type: Build

#287 feat(ci): introduce `check-proto.yaml` workflow
  .github/workflows/check-proto.yaml
  proto/exocore/delegation/v1/genesis.proto
  x/delegation/types/genesis.pb.go
  x/dogfood/types/query.pb.go
  x/dogfood/types/query.pb.gw.go
Labels: C:Proto

#291 chore: remove patch version for apk add
  Dockerfile
  networks/local/exocore/Dockerfile
Labels: Type: Build
