Repository imua-xyz/imuachain, pull requests merged in 2025-02, with the labels that each got.

#300 Fix Community Pool Calculation
  Dockerfile
  networks/local/exocore/Dockerfile
  x/feedistribution/keeper/allocation.go
Labels: Type: Build

#299 ref(cli): use lowercase to refine the command line
  x/assets/client/cli/query.go
  x/assets/client/cli/tx.go
  x/delegation/client/cli/query.go
  x/operator/client/cli/query.go
Labels: C:CLI

#303 feat(evm): add bech32 precompile
  Dockerfile
  app/app.go
  networks/local/exocore/Dockerfile
  precompiles/bech32/IBech32.sol
  precompiles/bech32/abi.json
  precompiles/bech32/bech32.go
  precompiles/bech32/bech32_test.go
  precompiles/bech32/methods.go
  precompiles/bech32/methods_test.go
  precompiles/bech32/setup_test.go
  x/avs/types/types.go
  x/evm/keeper/precompiles.go
  x/evm/types/params.go
Labels: Type: Build

#305 fix(docker): bring back curl 8.12
  Dockerfile
  networks/local/exocore/Dockerfile
Labels: Type: Build

#285 feat(delegation): query maximum undelegation amount
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.json
  proto/exocore/delegation/v1/query.proto
  testutil/batch/tx_check.go
  x/assets/keeper/grpc_query.go
  x/delegation/keeper/delegation_op_test.go
  x/delegation/keeper/delegation_state.go
  x/delegation/keeper/grpc_query.go
  x/delegation/types/query.pb.go
  x/operator/keeper/grpc_query.go
  x/operator/keeper/voting_power_snapshot.go
Labels: C:Proto, C:CLI

#271 feat(slash): Add the historical voting power to the slashing record
  client/docs/swagger-ui/swagger.json
  proto/exocore/assets/v1/query.proto
  proto/exocore/delegation/v1/tx.proto
  proto/exocore/operator/v1/tx.proto
  utils/utils.go
  x/operator/keeper/grpc_query.go
  x/operator/keeper/slash.go
  x/operator/keeper/usd_value.go
  x/operator/types/tx.pb.go
Labels: C:Proto, C:CLI

#310 use official proxy for goreleaser
  Makefile
Labels: Type: Build

#298 feat(avs): impl each operator create separate bls keys for any avs
  Dockerfile
  client/docs/swagger-ui/swagger.json
  networks/local/exocore/Dockerfile
  precompiles/avs/IAVSManager.sol
  precompiles/avs/abi.json
  precompiles/avs/avs.go
  precompiles/avs/avs_binding.go
  precompiles/avs/avs_test.go
  precompiles/avs/events.go
  precompiles/avs/query.go
  precompiles/avs/query_test.go
  precompiles/avs/setup_test.go
  precompiles/avs/tx.go
  precompiles/avs/types.go
  precompiles/avs/utils_test.go
  precompiles/common/error.go
  proto/exocore/avs/v1/genesis.proto
  proto/exocore/avs/v1/query.proto
  proto/exocore/avs/v1/tx.proto
  proto/exocore/exomint/v1/query.proto
  tests/e2e/oracle/create_price.go
  testutil/batch/manager.go
  testutil/network/util.go
  testutil/utils.go
  x/appchain/coordinator/keeper/register.go
  x/avs/client/cli/query.go
  x/avs/keeper/avs.go
  x/avs/keeper/avs_test.go
  x/avs/keeper/bls_test.go
  x/avs/keeper/epoch_test.go
  x/avs/keeper/genesis.go
  x/avs/keeper/impl_epoch_hook.go
  x/avs/keeper/keeper.go
  x/avs/keeper/multi_operator_submit_task_test.go
  x/avs/keeper/query.go
  x/avs/keeper/submit_task_test.go
  x/avs/keeper/task.go
  x/avs/keeper/task_test.go
  x/avs/types/genesis.go
  x/avs/types/genesis.pb.go
  x/avs/types/genesis_test.go
  x/avs/types/query.pb.go
  x/avs/types/query.pb.gw.go
  x/avs/types/tx.pb.go
  x/avs/types/types.go
  x/avs/types/utils.go
  x/dogfood/keeper/genesis.go
  x/dogfood/keeper/impl_operator_hooks.go
  x/dogfood/keeper/impl_sdk.go
  x/dogfood/keeper/msg_server.go
  x/exomint/types/query.pb.go
  x/exomint/types/query.pb.gw.go
  x/operator/keeper/opt_test.go
  x/operator/keeper/slash_test.go
  x/operator/keeper/usd_value_test.go
  x/operator/keeper/voting_power_snapshot_test.go
  x/reward/keeper/hooks.go
Labels: C:Proto, C:CLI, Type: Build, Type: Tests
