Repository imua-xyz/imuachain, pull requests merged in 2025-07, with the labels that each got.

#353 Feat/2 phases delayversion r
  .env.example
  .gitignore
  client/docs/swagger-ui/swagger.json
  cmd/imuad/external.go
  cmd/imuad/root.go
  go.mod
  go.sum
  local_node.sh
  precompiles/assets/IAssets.sol
  precompiles/assets/abi.json
  precompiles/assets/assets_test.go
  precompiles/assets/types.go
  proto/imuachain/oracle/v1/genesis.proto
  proto/imuachain/oracle/v1/native_token.proto
  proto/imuachain/oracle/v1/params.proto
  proto/imuachain/oracle/v1/price.proto
  proto/imuachain/oracle/v1/prices.proto
  proto/imuachain/oracle/v1/query.proto
  proto/imuachain/oracle/v1/rawdata_nst.proto
  tests/e2e/oracle/create_price.go
  tests/e2e/oracle/two_phases.go
  testutil/network/genesis_data.go
  x/delegation/keeper/update_native_restaking_balance.go
  x/delegation/types/expected_keepers.go
  x/oracle/genesis.go
  x/oracle/keeper/common/caches.go
  x/oracle/keeper/common/caches_test.go
  x/oracle/keeper/common/expected_keepers.go
  x/oracle/keeper/feedermanagement/algo.go
  x/oracle/keeper/feedermanagement/caches.go
  x/oracle/keeper/feedermanagement/feedermanager.go
  x/oracle/keeper/feedermanagement/prices.go
  x/oracle/keeper/msg_server_price_feed.go
  x/oracle/keeper/nst_post_aggregation.go
  x/oracle/keeper/nst_post_aggregation_test.go
  x/oracle/keeper/params.go
  x/oracle/keeper/query_native_token.go
  x/oracle/keeper/query_native_token_test.go
  x/oracle/types/events.go
  x/oracle/types/genesis.pb.go
  x/oracle/types/native_token.go
  x/oracle/types/native_token.pb.go
  x/oracle/types/params.go
  x/oracle/types/params.pb.go
  x/oracle/types/price.pb.go
  x/oracle/types/prices.pb.go
  x/oracle/types/query.pb.go
  x/oracle/types/rawdata_nst.pb.go
  x/oracle/types/types.go
Labels: C:Proto, C:CLI, Type: Tests

#362 doc: add imua contracts introduction and addresses
  .gitleaks.toml
  README.md
  docs/imua-contracts.md
Labels: Type: Docs

#364 update feeder dependency
  .env.example
  Dockerfile
  client/docs/swagger-ui/swagger.json
  cmd/imuad/external.go
  go.mod
  go.sum
  networks/local/imuachain/Dockerfile
  proto/imuachain/oracle/v1/price.proto
  proto/imuachain/oracle/v1/prices.proto
  x/oracle/types/price.pb.go
  x/oracle/types/prices.pb.go
Labels: C:Proto, C:CLI, Type: Build

#365 chores(RPC): Check input params for some RPCs
  Dockerfile
  x/assets/keeper/grpc_query.go
  x/delegation/keeper/grpc_query.go
  x/feedistribution/keeper/query.go
  x/operator/keeper/grpc_query.go
Labels: Type: Build
